<div class='container black'>
  <div class='content_wrapper'>
    <div id='auth'>
      <div class='left'>
        <div class='share block'>
          <div class='left tweet_button'>
            <a class='twitter-share-button' data-count='horizontal' data-related='drawbang' data-text='Have fun drawing!' data-url='http://drawbang.com' data-via='drawbang' href='http://twitter.com/share'>Tweet</a>
          </div>
          <div class='left like_button'>
            <fb:like font='' href='http://drawbang.com' layout='button_count' send='false' show_faces='false' width='110'></fb:like>
          </div>
          <div class='left plus_button'>
            <div class='g-plusone' data-href='http://drawbang.com' data-size='medium'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='wrapper'>
  <div id='flash_wrapper'>
    <p class='error flash'>
      
    </p>
    <p class='flash notice'>
      
    </p>
  </div>
</div>
<div class='content_wrapper' id='requests'></div>